{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container mt-4">
    <form action="submit" , method="POST">{% csrf_token %}
      <div class="row" style="margin-left:35%; margin-top:0%">
        <div class="col-4  border ">
          <img src="{% static "/imgs/Sem título.png" %}" class="card-img-top" alt="...">
          <div class="form-group">
            <input type="username" class="form-control" id="username" placeholder="E-mail" name="username" size="10">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-primary">Entrar</button>
          <a href="/cadastro/" class="btn btn-primary">Cadastrar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container mt-4">

  <div class="row">
    <div class="col-sm-4">

      <div class="card" style="width: 18rem;">
        <img src="{% static "/imgs/young_study.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Estude</h5>
          <h6 class="card-subtitle mb-2 text-muted">Varias questões para lhe auxiliar</h6>
          <p class="card-text">Use esse simulador para seus estudos do Enade.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static "/imgs/professro.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CADASTRE</h5>
          <h6 class="card-subtitle mb-2 text-muted">Seja um auxiliador para seus alunos</h6>
          <p class="card-text">Professor, cadastre questões para seus alunos</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static "/imgs/administrador.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GERENCIE</h5>
          <h6 class="card-subtitle mb-2 text-muted">Organize seu banco de dados</h6>
          <p class="card-text">Gerencie seus Professores</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}