{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img src="{% static "/imgs/25aad6fb-e198-4657-ac18-60b8cd1342e6_200x200.png" %}" style="width: 30%; "
        class="card-img-top" alt="">
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Filtros de Pesquisa</span>
        </h4>
        <div class="card" style="width: 18rem;">
          <div class="card-body">

            <form action="{% url 'dadosPesquisa' %}" method="get">
              <div class="form-group">
                <label for="formGroupExampleInput">Empresa</label>
                <input type="text" class="form-control" name="pesquisa" id="pesquisa"
                  placeholder="Digite aqui sua Pesquisa ...">
              </div>
              <button type="submit" class="btn btn-secondary btn-lg btn-block">PESQUISAR</button>

            </form>
            <form action="{% url 'dadosPesquisa' %}" method="get">
              <div class="card" style="width: auto; margin-top: 1cm;">
                <div class="card-body">

                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Área</label>
                  <select class="custom-select my-1 mr-sm-2" name="pesquisaArea" id="pesquisaArea">
                    <option selected>Escolha uma Área</option>
                    {% for a in categorias %}
                    <option value="{{a}}">{{a}}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
              <button type="submit" class="btn btn-secondary btn-lg btn-block">PESQUISAR</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-8 order-md-1">
        <div class="card" style="width: max-content;">
          <div class="card-body">
            {% if test.nota > 9 %}
            <div class="display-1 float-right"><i class="fas fa-smile-beam text-success"></i></div>

            {% elif test.nota > 7 %}
            <div class="display-1 float-right"><i class="fas fa-smile text-primary"></i></div>

            {% elif test.nota > 5 %}
            <div class="display-1 float-right"><i class="fas fa-meh text-warning"></i></div>

            {% elif test.nota > 1 %}
            <div class="display-1 float-right"><i class="fas fa-frown text-danger"></i></div>

            {% elif test.nota > 0 %}
            <div class="display-1 float-right"><i class="fas fa-poo" style="color: rgb(134, 65, 24);"></i></div>

            {% else %}
            <div class="display-1 float-right"><i class="fas fa-meh-blank text-secondary"></i></div>

            {% endif %}

            <h1 class="mb-3">{{test.nome}}</h1>
            {% if test.nota != -1 %}
            <h3><b>Nota:</b>{{test.nota}}</h3>
            {% else %}
            <h3><b>Nota:</b><i>"não há nota"</i></h3>
            {% endif %}

            <h4><b>Numero de Reclamações:</b>{{test.numReclamacoes}}</h4>
            <h4><b>Reclamações Respondidas:</b>{{test.numRespondidas}}</h4>
            <h4><b>Reclamações Não Respondidas:</b>{{test.numNaoRespondidas}}</h4>
            <h4><b>Tempo de Resposta:</b>{{test.tempoRespostaS}}</h4>
            <h4><b>Categorias:</b>
              {% for c in test.categorias %}
              {{c}},
              {% endfor %}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 1cm;">
      <div class="col-md-12" style="margin-top: 1cm;">
        <div class="list-group">
          <h1><b>Comentários</b></h1>
          {% for c in test.comentarios %}
          <a href="{{c.link}}" target="_blank" type="button" class="list-group-item list-group-item-action">
            <h3><b>{{c.titulo}}</b></h3>
            <h4>{{c.descricao}}</h4>
            <h7>{{c.status}}</h7>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2019 Recomende</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"></script>
  <script src="form-validation.js"></script>

</body>
{% endblock %}